*.bak
*.class
*.war
*.tmp
*.log
*.iml

.idea
.gradle
.metadata
.recommenders
.settings
.classpath
.project
.DS_Store

build
target
logs
var

RemoteSystemsTempFiles
Servers
workspace

stdout.log
Thumbs.db

/etc/setenv.bat
/etc/setenv.sh
